In [1]:
import pandas as pd
import random

# Generate a sample dataset
data = []
for i in range(1, 501):
    age = random.randint(18, 65)
    gender = random.choice(['Male', 'Female'])
    marital_status = random.choice(['Single', 'Married'])
    annual_income = random.randint(30000, 100000)
    total_purchases = random.randint(1, 50)
    preferred_category = random.choice(['Electronics', 'Clothing', 'Books', 'Groceries'])
    data.append([i, age, gender, marital_status, annual_income, total_purchases, preferred_category])

# Add some null values
for _ in range(5):
    data[random.randint(0, len(data) - 1)][random.randint(1, 6)] = None

# Create duplicates
data.extend(data[:10])

# Create a DataFrame
columns = ['CustomerID', 'Age', 'Gender', 'MaritalStatus', 'AnnualIncome', 'TotalPurchases', 'PreferredCategory']
df = pd.DataFrame(data, columns=columns)

# Print the DataFrame
print(df)
df.to_csv('data.csv')

     CustomerID  Age  Gender MaritalStatus  AnnualIncome  TotalPurchases  \
0             1   64    Male        Single       35572.0               2
1             2   30  Female        Single       36139.0              12
2             3   63  Female       Married       68065.0              21
3             4   54    Male        Single       62807.0              14
4             5   60    Male        Single       86321.0              31
..          ...  ...     ...           ...           ...             ...
505           6   47    Male       Married       35533.0              11
506           7   42    Male        Single       32552.0               9
507           8   25  Female       Married       64953.0              14
508           9   56  Female       Married       87518.0              18
509          10   26    Male        Single       51814.0              49

    PreferredCategory
0               Books
1               Books
2         Electronics
3           Groceries
4               Books
..                ...
505             Books
506             Books
507       Electronics
508          Clothing
509         Groceries

[510 rows x 7 columns]