In [2]:
import pandas as pd
df=pd.read_csv('/content/data.csv')

step 2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         510 non-null    int64
 1   CustomerID         510 non-null    int64
 2   Age                510 non-null    int64
 3   Gender             507 non-null    object
 4   MaritalStatus      510 non-null    object
 5   AnnualIncome       509 non-null    float64
 6   TotalPurchases     510 non-null    int64
 7   PreferredCategory  509 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 32.0+ KB

In [4]:
df=df.drop_duplicates()
df=df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505 entries, 0 to 509
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         505 non-null    int64
 1   CustomerID         505 non-null    int64
 2   Age                505 non-null    int64
 3   Gender             505 non-null    object
 4   MaritalStatus      505 non-null    object
 5   AnnualIncome       505 non-null    float64
 6   TotalPurchases     505 non-null    int64
 7   PreferredCategory  505 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 35.5+ KB